<h1>Edit the Post</h1>
<br/>
<%= form_with model:  @blog, method: :patch do |blog| %>
    <%= blog.label :title %>
    <%= blog.text_field :title %>
    <br />
    <%= blog.label :content %>
    <%= blog.text_field :content %>
    <br />
    <%= blog.submit "Edit Post" %>
  <% end %>
<br />
<p><%= link_to 'Back to Main Page', blogs_path %></p>